.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Padding{
  padding-bottom: 1%;
}

.Header-nav{
  background-color: rgba(239, 222, 97, 0.993);
}

.Body{
  background-color:rgba(225, 240, 207, 0.993);
  min-height: 100vh;
}

.img{
  height: 100px;
}

#message_button{
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: transparent;
  background-image: none;
  border: none;
  width: 40px;
  height: 40px;
}

.message_icon{
  position: absolute;
  padding: 0px;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

#settings_button{
  position: fixed;
  top: 40px;
  right: 0px;
  background-color: transparent;
  background-image: none;
  border: none;
  width: 40px;
  height: 40px;
}

.settings_icon{
  position: absolute;
  padding: 0px;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.btn-group button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
}

.tamanoImagen {
  height: auto; 
  width: auto; 
  max-width: 100px; 
  max-height: 100px;
}

.text-certificado { font-size: 35px; font-weight: 550; font-family: 'Bungee Inline', cursive; }

.text-shortest { font-size: 65px; font-weight: 550; font-family: 'Bungee Inline', cursive; }
