.Login {
    text-align: center;
  }
  
  .Login-header {
    background-color: #efde61;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 2vmin);
    color: #757678;
  }
  
  .Login-link {
    color: #61dafb;
  }